button,
.button {
	margin-bottom: 0 !important;
	margin-right: .5rem;
}
body{
	background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("images/background.jpg");

}

.done {
	color: red;
	text-decoration: line-through;
}